.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.todo-wrapper {
    width: 100%;
    height: 90%;
    justify-content: center;
}

.todo-item {
    width: 100%;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
    margin-top: 12px;
    border-color: chocolate;
    border-radius: 12px;
    border-width: 1px;
    align-content: center;
    align-items: center;
}

.todo-title {
    width: 50%;
    height: 40px;
    font-size: 18px;
    color: #ff51b8ca;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.todo-date {
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #ff62a6ba;
    justify-content: center;
}

.main-title {
    width: 100%;
    height: 40px;
    font-size: 30px;
    color: #fff1cd89;
    text-align: center;
    font-family: HYQiHei-65S;
}
