.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time {
    font-size: 36px;
    color: red;
}

.bar {
    width: 80%;
    height: 20px;
    margin: 16px 0;
}

.controls {
    flex-direction: column;
    align-items: center;
}

.div-button {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60%;
}

.button {
    margin-top: 30px;
    width: 280px;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time {
    font-size: 36px;
    color: red;
}

.bar {
    width: 80%;
    height: 20px;
    margin: 16px 0;
}

.controls {
    flex-direction: column;
    align-items: center;
}

.div-button {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60%;
}

.button {
    margin-top: 30px;
    width: 280px;
}